[acmetool-artefactual-repo]
name=acmetool-artefactual-repo
baseurl=https://packages.archivematica.org/acmetool/rocky
gpgcheck=1
gpgkey=https://packages.archivematica.org/GPG-KEY-archivematica-sha512
enabled=1
