#https://copr.fedorainfracloud.org/coprs/hlandau/acmetool/repo/epel-7/hlandau-acmetool-epel-7.repo
[hlandau-acmetool]
name=Copr repo for acmetool owned by hlandau
baseurl=https://copr-be.cloud.fedoraproject.org/results/hlandau/acmetool/epel-7-$basearch/
type=rpm-md
skip_if_unavailable=True
gpgcheck=1
gpgkey=https://copr-be.cloud.fedoraproject.org/results/hlandau/acmetool/pubkey.gpg
repo_gpgcheck=0
enabled=1
enabled_metadata=1
